<%- layout("layouts/boilerplate") %> 
<div class="row">
    <div class="col-lg-6 mx-auto mt-3">
        <ul class="list-group">
            <li class="list-group-item active text-center">Payment-success</li>
            <li class="list-group-item">Payment-Id: <%=detail.id%></li>
            <li class="list-group-item">Order-Id: <%=detail.order_id%></li>
            <li class="list-group-item">Amount-Deducted: <%=detail.amount%></li>
          
          </ul>
    </div>
</div>